<h1>Shop Details</h1>

<div class = "well">
	<h3>Number of Shelves in Shop: <%=@shop.shelves.count %></h3>
</div>


<%= render 'candies/candies' %>
<%= render 'candies/form' %>
<%= render 'shelves/form' %>