<div class = "well">
	<h3>List of Candies in Shop:</h3>

	<% @shop.candies.each do |candy| %>
		<p><strong><%= candy.name %></strong></p>
	<% end %>
</div>

<div class = "well">
	<h3>Add Candy</h3>  

