<div class = "well">
	<h3>Add Candy</h3>  
	<%= form_for([@shop, @shop.candies.build]) do |f| %>
		<p>
			<%= f.label :name %><br>
			<%= f.text_field(:name, {:class => 'form-control'}) %>
		</p>
	  

		<p>
			<%= f.submit({:class => 'btn btn-primary'}) %>
		</p>
	 
	<% end %>

</div>
